[submodule "unreal/Plugins/DialogueBuilder"]
	path = unreal/Plugins/DialogueBuilder
	url = git@github.com:well-known-game-studio/DialogBuilder
[submodule "unreal/Content/8BitLegend"]
	path = unreal/Content/8BitLegend
	url = git@github.com:well-known-game-studio/8BitLegend
[submodule "unreal/Content/FluidFlux"]
	path = unreal/Content/FluidFlux
	url = git@github.com:well-known-game-studio/FluidFlux
[submodule "unreal/Content/CraftingRTSSounds"]
	path = unreal/Content/CraftingRTSSounds
	url = git@github.com:well-known-game-studio/CraftingRTSSounds
[submodule "unreal/Content/Ultimate_Magic_Bundle"]
	path = unreal/Content/Ultimate_Magic_Bundle
	url = git@github.com:well-known-game-studio/Ultimate_Magic_Bundle
[submodule "unreal/Plugins/SnapCentral"]
	path = unreal/Plugins/SnapCentral
	url = git@github.com:well-known-game-studio/snapcentral
[submodule "unreal/Plugins/FlatNodes"]
	path = unreal/Plugins/FlatNodes
	url = git@github.com:well-known-game-studio/flatnodes
[submodule "unreal/Plugins/BlockoutToolsPlugin"]
	path = unreal/Plugins/BlockoutToolsPlugin
	url = git@github.com:well-known-game-studio/blockouttoolsplugin
[submodule "unreal/Content/UltraDynamicSky"]
	path = unreal/Content/UltraDynamicSky
	url = git@github.com:well-known-game-studio/ultra-dynamic-sky
[submodule "unreal/Plugins/QuestEditor"]
	path = unreal/Plugins/QuestEditor
	url = git@github.com:well-known-game-studio/quest-editor
